<launch>
    <!-- Start ArUco bundle tracking -->
    <include file="$(find magdrone)/launch/aruco_bundle_logi_3.launch"/>

    <!-- Start joy_node -->
    <node pkg="joy" type="joy_node" name="joy_node"/>

    <!-- Start flight data log-->
    <!--include file="$(find magdrone)/launch/log_aruco.launch"/-->

    <!-- Start aruco mission script -->
    <node pkg="magdrone" type="aruco_deploy.py" name="magdrone_aruco" output="screen"/>

</launch>
