<launch>
    <!-- Start piCam -->
    <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch"/>
    <node pkg="raspicam_node" type="camerav2_410x308_30fps" name="camerav2_410x308_30fps">
    </node>

    <!-- Launch image transport node to uncompress image -->
    <node pkg="image_transport" type="republish" name="publish_raw" args="compressed in:=/raspicam_node/image raw out:=/raspicam_node/image_raw"/>

    <!-- Adding marker stuff -->
    <arg name="markerSize" default="0.146"/>
    <arg name="markerId" default="7"/>
    <arg name="marker_frame" default="marker_frame"/>
    <arg name="corner_refinement" default="LINES"/>

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap from="/camera_info" to="/raspicam_node/camera_info"/>
        <remap from="/image" to="/raspicam_node/image_raw"/>
        <param name="marker_id" value="$(arg markerId)"/>
        <param name="image_is_rectified" value="False"/>
        <param name="marker_size" value="$(arg markerSize)"/>
        <param name="camera_frame" value="raspicam"/>
        <param name="marker_frame" value="$(arg marker_frame)"/>
        <param name="corner_refinement" value="$(arg corner_refinement)"/>
    </node>
</launch>
