<launch>
	<!-- Start recording the flight log data -->
	<node pkg="rosbag" type="record" name="flight_log_bagfile" output="screen"
		  args="record -o /home/odroid/catkin_ws/src/magdrone/py_scripts/Logs/flight

/rosout
/rosout_agg

/tf
/tf_static

/aruco_state/pose
/aruco_state/rates

/stag_ros/bundles

/opti_state/pose
/opti_state/rates

/vrpn_client_node/UAV/pose
/vrpn_client_node/LandingStructure/pose

/setpoint
/commands

/joy

"
	/>
</launch>
